<table class = "table">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <% post_books.each do |post_book| %>
    <tr>
      <td>
        <%= link_to user_path(post_book.user.id) do %>
          <%= image_tag post_book.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(post_book.id) do %>
        <%= post_book.title %>
        <% end %>
      </td>
      <td><%= post_book.body %></td>
    </tr>
  <% end %>
</table>